<%
  let showError = (data) =>{
    if(!data) return
    let html = `<span class="error-mess">${data.error}</span>`
    return html
  }
%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Admin</title>
  <link rel="stylesheet" href="/frontend/dist/css/style.css">
</head>
<body>
  <div class="login">
    <div class="login-triangle"></div>
    <h2 class="login-header">Forgot Password</h2>
    <form id='form' action="/auth/forgotpassword" method="post" class="login-container">
      <%- showError(errors) %>
      <p><input type="email" name="username" placeholder="Email" required></p>
      <p><input type="submit" class="submitForm" value="Reset Password"></p>
    </form>
  </div>
</body>
</html>
<script type="text/javascript">

  let form = document.getElementById('form')
  form.addEventListener('submit', (event) => {
    let inputSubmit = document.querySelectorAll('input[type=submit]')[0]
    inputSubmit.setAttribute("disabled", "")
    inputSubmit.classList.add("disabled");
  })
</script>
