<%
  let showError = (data) =>{
    if(!data) return
    let back = ''
    if(data.hasOwnProperty('error')){
      back = (data.error == 'OTP out time') ? '<a href="/auth/forgotpassword" style="background:white; font-weight: 700">Back</a>' : ''
    }
    let html = `<span class="error-mess">${data.error} </span>${back}`
    return html
  }
%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Admin</title>
  <link rel="stylesheet" href="/frontend/dist/css/style.css">
</head>
<body>
  <div class="login">
    <div class="login-triangle"></div>
    <h2 class="login-header">Reset Password</h2>
    <form id="form" action="/auth/resetpassword" method="post" class="login-container">
      <%- showError(errors) %>
      <input type="hidden" name="username" value="<%=resetPassword.user.username%>" required>
      <p><input type="number" name="otp" placeholder="OTP 4 digits" required></p>
      <p><input type="password" name="password" placeholder="Password" required></p>
      <p><input type="password" name="passwordagain" placeholder="Re-Password" required></p>
      <p><input type="submit" class="submitForm" value="Reset"></p>
    </form>
  </div>
</body>
</html>
<script type="text/javascript">

  let form = document.getElementById('form')
  form.addEventListener('submit', (event) => {
    let inputSubmit = document.querySelectorAll('input[type=submit]')[0]
    inputSubmit.setAttribute("disabled", "")
    inputSubmit.classList.add("disabled");
  })
</script>
