<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold">Nhận Tin Mới Nhất</h4>
    </div>
    <div class="bg-white text-center border border-top-0 p-2">
        <p style="font-size:12px; font-weight: 700; font-style: italic;margin-bottom:0.5rem">Vui lòng nhập Email của bạn</p>
        <div class="input-group mb-2" style="width: 100%;">
            <input type="text" class="form-control form-control-md">
            <div class="input-group-append">
                <button class="btn btn-primary font-weight-bold px-3">Đăng Ký</button>
            </div>
        </div>
    </div>
</div>
